*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}
/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    html {
      font-size: 80%;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
    }
  }
  
  /* 460px / 16px = 28.75em */
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }


  
a, li{
    list-style: none;
    text-decoration: none;
    
}
h1{
    font-size:6rem;
    color: #e4dcd0;
}
h2{
font-size: 4rem;

}

#navbar{
display: flex;
justify-content:flex-end;
position: fixed;
top: 0%;
width: 100%;
z-index: 10;
padding: 20px;
background-color: #0e3244;
}

.navlink{
color:  #e4dcd0;
font-size: 2rem;
font-weight: 400;
margin: 20px;
 }

@media (max-width: 28.75em) {
    html {
      justify-content: center; 
    }
    
}

#welcome-section{
      background-color:#0e3244;
      width:100vw;
      height:100vh;
    }


@media (max-width: 480px) {
    #welcome-section {
      justify-content: center;
    
    }
}

#welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


span{
    font-size: 1.3em;
    color:  #e4dcd0;
    display: flex;
    justify-content: center;
}

#projects{
    width: 100vw;
    height: 100vh;
    background-color: #e4dcd0;
    color: #0e3244;
    text-align: center;

}
.projects-section {
    text-align: center;
    padding: 10rem 2rem;
  }
.projects-section-header {
    margin: 0 auto 6rem auto;
    
  }

  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.3rem solid ;
  }

  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 3.5rem;
    }
  }


.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
        
}
@media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: var(--main-gray);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  

  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project:hover .code {
    color: #ff7f50;
  }
  

#contact{
    color: #e4dcd0;
    height: 80vh;
    width: 100vw;
    background-color: #0e3244;
    text-align: center;
}

.icons{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.icon{
    color: #e4dcd0;
    margin: 5px;
    text-transform: uppercase;
    
}
footer{
    background-color: #e4dcd0;
    padding: 20px;
    font-weight: 500;
    color:#0e3244;
    display: flex;
    justify-content: flex-end;
    width: 100%;

}