*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
}

@media screen and (max-width: 480px) {
    html, body {
      min-width: 320px; } 
    }
  
a, li{
    list-style: none;
    text-decoration: none;
    
}
img {
    display: block;
    width: 100%;
  }

#navbar{
display: flex;
justify-content:flex-end;
position: fixed;
top: 0%;
width: 100%;
z-index: 10;
padding: 20px;
background-color: #0e3244;
}

.navlink{
color:  #e4dcd0;
font-size: 1.2rem;
font-weight: 400;
margin: 20px;
 }

@media (max-width: 28.75em) {
    #navbar {
      justify-content: center;
      
    }
}
  

#welcome-section{
    position:relative;
      background-color:#0e3244;
      width:100vw;
      height:100vh;
    }


@media (max-width: 480px) {
    #welcome-section {
      justify-content: center;
      font-size: 60%;
      width: 100%;

    }
}

#welcome-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
        font-size:5em;
        color: #e4dcd0;
}

span{
    font-size: 1.3em;
    color:  #e4dcd0;
    display: flex;
    justify-content: center;
}

#projects{
    width: 100vw;
    height: 100vh;
    background-color: #e4dcd0;
    color: #0e3244;
    text-align: center;
}
.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    
  }
  
  @media (max-width: 480px) {
    .projects-section-header {
      font-size: 90%;
    }
  }
h2{
    font-size: 3.5em;
    text-decoration: underline;
    display: flex;
    justify-content: center;
    text-align: center;   
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
        
}

.project-tile{
    display:flex ;
    justify-content: center;
     
    
}
.project-title{
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
.btn{
    display: flex;
    align-items: center;
    background-color: #0e3244;
    padding: 10px;
    font-size:1em;
    color: aqua;
    border: none;
    
   
}
.btn:hover{
cursor: pointer;
}

#contact{
    color: #e4dcd0;
    height: 100vh;
    width: 100vw;
    background-color: #0e3244;
    text-align: center;
    align-content: center;


}


.icons{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.icon{
    color: #e4dcd0;
    margin: 5px;
    text-transform: uppercase;
    
}
footer{
    background-color: #e4dcd0;
    padding: 20px;
    font-weight: 500;
    color:#0e3244;
    display: flex;
    justify-content: flex-end;
    width: 100%;

}